In [1]:
import pandas as pd

In [8]:
s = pd.Series(list('aabccdffghijklmnopqrs'))
s

0     a
1     a
2     b
3     c
4     c
5     d
6     f
7     f
8     g
9     h
10    i
11    j
12    k
13    l
14    m
15    n
16    o
17    p
18    q
19    r
20    s
dtype: object

In [9]:
#Conta quanto valores únicos tem
s.unique()

array(['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's'], dtype=object)

In [10]:
#conta quantos valores tem
s.value_counts()

c    2
a    2
f    2
m    1
i    1
h    1
r    1
q    1
b    1
d    1
o    1
s    1
p    1
l    1
n    1
k    1
g    1
j    1
dtype: int64

In [11]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [12]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [14]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64